html, body, #root {
  height: 100%;
  margin: 0;
}
  
.gantt-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh; 
}

.gantt-menu {  
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 12px; 
  /*
  background-color: #7f7f7f;   
  border: 1px solid #080808;
  */
  box-sizing: border-box;
  height: 72px;
} 
     
.gantt-chart {
  flex: 1;
  padding-left: 8px;
  overflow: hidden; 
  min-height: 0;
  position: relative;
}