$themes: (
  blue: #1f78b4,
  orange: #ff800d,
  red: #d52728,
  green: #2ba02d,
  purple: #9467bc,
  brown: #8e554a,
  pink: #e377c2,
  grey: #7f7f7f,
  yellow: #bcbd23,
  teal: #17bed0
);
//Segue o Tableau 10 original